[2015-11-24 01:58] mmc1ntyre opened #4 "Plugin does not compile with latest version of Java"
Plugin does not compile with latest version of java.

build 1.8.0_66-b17

[removed for brevity]/ImageResizer.java:15: error: cannot find symbol
import org.apache.cordova.FileHelper;
                         ^
  symbol:   class FileHelper
  location: package org.apache.cordova
[removed for brevity]/protonet/imageresizer/ImageResizer.java:84: error: cannot find symbol
      BitmapFactory.decodeStrea

[2015-11-24 02:05] mmc1ntyre commented on #4
Sorry.  My mistake.

[2015-11-24 02:05] #4 closed

[2016-02-22 14:31] zhouhao27 opened #6 "Is it possible to resize base64 image data?"
Is it possible to resize base64 image data? Thanks

[2016-03-01 10:44] adamscybot opened #7 "Missing folderName causes error on android"
An obscure JSON exception is triggered on android if you forgot to include folderName key in your config. Should probably mention this in docs.

In general, it seems errors don't bubble through to the web console and with logcat they are also obscure as the original error isnt printed.

This probably applies to other config keys too.

[2016-04-04 06:29] eliaweiss opened #8 "Plugin crash the app when trying to resize an image from file (i.e. gallery)"
code:

[code]

If you imageURI is an image chosen from gallery "content://media/external/images/media/5045"

the plugin crashes the app.

More info:
cordova -v 6.1.0
cordova platform version android 5.1.1
cordova-plugin-image-resizer 1.0.0 "ImageResizer"
android version 4 - 5

code for getting the image from the device:

[code]

[2016-04-06 07:57] stba42 opened #9 "License file missing"
Hello,

i'd like to use this library for a commercial project.
Could you please add a License?

[2016-04-08 08:11] JoschkaSchulz commented on #9
good point maybe @tiff can help you with that

[2016-05-09 14:00] KowsalyaPK commented on #9
Could you add the license..??

[2016-05-09 14:34] #9 closed

[2016-05-09 14:34] tiff commented on #9
done

[2016-05-19 14:18] ben3005 opened #10 "Windows 10 Support"
Would it be possible to add windows 10 support.

I don't mind creating a pull request to implement this feature myself.

[2016-05-20 13:36] JoschkaSchulz commented on #10
if you are creating a pull request I can merge it... would be great also if some other ones can test it too

[2016-06-20 13:07] diegokeller opened #13 "iOS App Crashes after resizing a bunch of images"
Hi!

I am developing a iOS app using Ionic 1.7.15 and Cordova 6.2.0. The app downloads a lot of imagens from the internet and I want to generate a thumbnail for each imagen downloaded. So I can have two versions of each image, the thumbnail and the original one.

The plugin works just fine in Android. But in my iPad 2, the app crashes after resizing lots of imagens (lets say after 500 imagens).

I

[2016-06-20 16:41] JoschkaSchulz commented on #13
Hey Diego,

I wrote the iOS stuff a long time ago and can't say if there are maybe some memory leaks inside. If you find a solution or someone like to check the code I would like to see a pull request to fix it.

And yeah the code is horrible, I'm not an iOS developer so sorry for that.  Maybe someone like to refactor it with swift?

[2016-06-22 03:33] twainyoung commented on #8
i met the same issue recently, which is wired , if i get image from camera ,the" resizeImage"  function works fine , if i choose image from  PHOTOLIBRARY,  app crash.

[2016-06-28 06:59] JoschkaSchulz commented on #10
awesome pull request, thank you

https://github.com/protonet/cordova-plugin-image-resizer/pull/12

[2016-06-28 06:59] #10 closed

[2016-08-11 08:06] snirs90 commented on #13
I've fixed it in PR: https://github.com/protonet/cordova-plugin-image-resizer/pull/15

[2016-08-11 11:28] diegokeller commented on #13
Great contribution @snirs90. For my project I ended up using another solution: https://github.com/kennyki/angular-thumbnail.

[2016-08-17 14:20] JoschkaSchulz commented on #13
Thanks @snirs90 I will merge your pull request

[2016-08-17 14:20] #13 closed

[2016-09-01 16:52] GomatoX opened #16 "Webkit error in iOS"
WebKit discarded an uncaught exception in the webView:decidePolicyForNavigationAction:request:frame:decisionListener: delegate: <NSInvalidArgumentException> **\* -[__NSPlaceholderArray initWithObjects:count:]: attempt to insert nil object from objects[0]

**This code cause silence in ios:**

[code]

[2016-09-06 19:27] lasselaakkonen opened #17 "Photos framework missing from iOS dependencies"
Using XCode 7.3.1, Cordova 5.4.1, building for iOS 9.3.

I needed to add the element `<framework src="Photos.framework" />` to the iOS platform element in plugin.xml:

[code]

Otherwise the build was throwing errors such as:

[code]

[2016-09-15 11:33] santiago762000 opened #18 "iOS Error"
2016-09-15 21:29:21.145 thumbnail[239:11885] IMAGE RESIZER START ----------------------------------------------------------------------------
2016-09-15 21:29:21.146 thumbnail[239:11885] Image Resizer Image URL : file:///var/mobile/Containers/Data/Application/288FAECE-4A71-450E-A35A-2F9A7A175772/tmp/cdv_photo_007.jpg
2016-09-15 21:29:21.173 thumbnail[239:11885] **\* Terminating app due to uncaught

[2016-09-21 18:51] jacobo3d commented on #18
Same issue here, and same issue as this other issue:
https://github.com/protonet/cordova-plugin-image-resizer/issues/17

[2016-09-21 20:19] JoschkaSchulz commented on #17
could you create a pull request with your solution so I can merge it?

[2016-10-06 06:29] okhioktanio commented on #16
After reading the ImageResizer.m code using Xcode, it seems you have to specify the file name on the options.

var options = {
                  uri: uri,
                      **_folderName: "Protonet Messenger", //mandatory for android_**
                      quality: 90,
                      width: 1280,
                      height: 1280,
                  **_fileName: 'resize.jpg' //mandato

[2016-10-06 06:32] okhioktanio commented on #18
look at my answer in #16

[2016-10-06 07:46] uzumakinaruto123 commented on #7
folderName shouldn't be the required property. because , not always it is needed to store the image.
IMO return type of the resize should not be a filepath , and should be a base64. or at least a Optional parameter whether to save or not can also help. if false it can return base64 else filepath.

[2016-11-20 15:17] srameshr commented on #8
Same here. Damn it. It works fine on IOS but not on Android!  Here are the crash logs.

[code]

Will this ever be resolved, seeing that there is no activity on the repo. :(

[2016-11-21 09:29] JoschkaSchulz commented on #8
I get all the new messages but haven't enough time to fix the stuff... if someone would like to write a bugfix and creates a pull request I will check and merge it.

[2016-11-21 10:35] srameshr commented on #8
@JoschkaSchulz I have no idea about objective c or java. Could you please fix this?  Lots of people are dependent on this.

[2016-11-21 14:44] vazad28 opened #19 "Aspect ratio in IOS"
Am I correct in my impression that the plugin does not keep the aspect ratio of the resized image in ios. In android the aspect ratio is maintained but not so  in ios. If true is there a way we can keep the aspect ration as we resize in ios.

[2016-11-21 19:07] salzig commented on #8
@srameshr
[code]
maybe call it without query string then?

btw, maybe i'm wrong, but you're not using the plugin provided by this repository (`com.raananw.ImageResizePlugin` vs. `info.protonet.imageresizer.ImageResizer`). Maybe you should call the author of `com.raananw.ImageResizePlugin` for action.

[2016-11-22 06:40] srameshr commented on #8
Both these repositories are similar. I have tried it with both the plugins. It throws the same error.
Could you elaborate on what do you mean by "without query"? Do you mean to just remove ```?1479654794267``` ? Or something else?

BTW, I am not appending any query to the path. It is what Cordova camera plugin provides by default.

May be I will check the path that is provided by camera and galler

[2016-11-22 07:22] srameshr commented on #8
@salzig OMG!!! It was due to the query string. I removed query string and it worked! 👍

If anyone comes here, please look at this. Here is the solution:

Here is the file path that is provided by Cordova when an image is chosen by gallery:

[code]

You got to remove the query string ```?1083017394``` else, your app will crash.

[code]

And then provide this ```imagePath``` to the ```window.imageRe

[2016-11-22 07:33] littldr commented on #8
@srameshr have you even tried this plugin? `info.protonet.imageresizer.ImageResizer` (They are similar, but not the same)

As I can see, this exception only happens in [RaananW/PhoneGap-Image-Resizer/.../ImageResizePlugin.java#L102](https://github.com/RaananW/PhoneGap-Image-Resizer/blob/master/src/Android/com/raananw/ImageResizer/ImageResizePlugin.java#L102) cause their are not using `FileHelper.g

[2016-11-22 07:36] srameshr commented on #8
@LAndreas

Then why are people who are using this plugin seems to be raising the same issue. As in this thread.

[2016-11-22 07:40] littldr commented on #8
I'm not sure if this is the same issue like yours. Maybe @eliaweiss could provide a stracktrace?

[2016-11-22 07:41] srameshr commented on #8
@LAandreas

Either way, the plugin fails when you try to upload an image from gallery.

[2016-11-22 07:45] salzig commented on #8
@srameshr thats guessing, not knowing. Your problem happens cause of a different source code.

would be cool if @eliaweiss or @twainyoung could provide a stacktrace.

[2016-11-22 08:51] JoschkaSchulz commented on #8
Would like to see a Stack trace for that Project, then I can maybe invest some time to write a fix.

[2016-11-22 08:59] srameshr commented on #8
@salzig True. PS: @eliaweiss @twainyoung

[2016-11-22 13:39] JoschkaSchulz commented on #19
it seems that there are a lot of troubles in the iOS part... If I have some time I would rewrite it maybe in swift if it's possible.

[2016-11-29 09:46] JoschkaSchulz commented on #7
Oo it should not return a image in base64 or a filepath... that sounds more like it should be two different methods then one method that gives two different result...

and sorry for the late answer

[2017-01-03 09:34] BramDecuypere opened #20 "ImageResizer blocks thread"
PluginManager: THREAD WARNING: exec() call to ImageResizer.resize blocked the main thread for 150ms. Plugin should use CordovaInterface.getThreadPool().

Hi when we are going through multiple resizes, we get the message that the thread has been blocked.
Is this something you are looking into or planning to fix?

[2017-02-01 20:44] #7 closed

[2017-02-01 20:46] JoschkaSchulz commented on #20
Oh at the moment I havn't seen it. You are welcome to create a pull request ao I can merge it.

[2017-03-21 01:51] Spracto commented on #16
I experienced the same bug. Specifying fileName resolved it.

[2017-03-24 02:04] ejiyuan opened #22 "“Cannot read property 'apply' of undefined”"
“Cannot read property 'apply' of undefined”
my code
`getPicture() {
        var options: CameraOptions = {
            destinationType: Camera.DestinationType.FILE_URI,
            sourceType: Camera.PictureSourceType.PHOTOLIBRARY,
            allowEdit: true,
            mediaType: 0,

        };

        Camera.getPicture(options).then((fileUri) => {
            let options: ImageResizerOptions

[2017-03-24 02:46] #22 closed

[2017-03-28 01:03] juszczec opened #23 "displaying resized image"
i have a question about displaying a resized image

i'm doing this with cordova on android.

cordova has a property called cordova.file.applicationDirectory that maps to the uri  file:///android_asset/

thru trial and error i have discovered android_asset contains the standard cordova directory named www

i have placed sample.jpg in www and referenced it in the following example

       var option

[2017-03-28 08:28] JoschkaSchulz commented on #23
I have to take a closer look on that

[2017-03-28 11:30] JoschkaSchulz commented on #22
do you solved the problem? What was the problem?

[2017-03-28 23:04] juszczec commented on #23
When I changed the first callback to:

                                   function(image) {
                                       alert("resize success");
				       var htmlToAppend = '<img src="'+image+'" />';
				       $('#scaled').append(htmlToAppend);
                                   }

I got a scaled image to appear.

So, the image is scaling but folderName and filename appear to be igno

[2017-03-29 07:57] JoschkaSchulz commented on #23
hrm okay, I think I have some time on Friday to look on all the Issus in that Repo. :)

[2017-04-11 13:59] cataragak90 opened #24 "ios bug"
Hello!
it doesn't work for iOS, nothing happens when I use it:
ionic 2 code ex:
//Start
 Camera.getPicture(options).then((imageUrl) => {
       console.log(imageUrl); //it's displayed the right image path
       let options = {
          uri: results[i],
          quality: 70,
          width: 570,
          height: 430
        } as ImageResizerOptions;
        //Starting with this line nothing ha

[2017-04-11 17:11] FROST-D commented on #24
try this : #16

[2017-04-12 10:47] cataragak90 commented on #16
hmm, at least I can see something.
I have a full white image instead of the resized one

[2017-04-19 07:13] ejiyuan commented on #22
I am sorry that my argument name "options" repeated！

[2017-05-17 09:13] candicom opened #25 "need package.json for ionic-cli 3.1.2 and cordova 7"
https://forum.ionicframework.com/t/i-can-not-add-plugin-imagepicker/90318

like this issue, need to add package.json file.

https://github.com/driftyco/ionic-cli/issues/2208
https://github.com/apache/cordova-docs/pull/699/files#r114967465

https://github.com/Telerik-Verified-Plugins/ImagePicker (for cordova 6 without package.json)
https://github.com/Keko94/ImagePicker (for cordova 7 with pacakge.j

[2017-05-26 15:02] duca14036 commented on #16
@cataragak90 try to replace this file https://github.com/duca14036/cordova-plugin-image-resizer/blob/master/src/ios/ImageResizer.m

[2017-05-29 16:43] alexislg2 commented on #25
What is the workaround here?

[2017-05-30 01:03] thewavelet commented on #25
https://github.com/candicom/cordova-plugin-image-resizer

[2017-06-19 14:40] alexislg2 opened #26 "Exif Lost"
Hey,
I am afraid that thid plugin is losing all the EXIF data after resizing!

It means that the portrait pictures will be saved as landscape, which is a main issue.

I'm using Android Samsung A5

[2017-08-07 19:47] kaz-tk commented on #16
@duca14036 I tried your ImageResizer.m, but imageData is nil
so, callback function get no filePath.
imageRequestOptions.synchronous not working

[2017-08-08 16:12] wstrinz commented on #16
Also getting an "all white" image, also tried @duca14036 's fix, and am also getting an `error save image` result.

[2017-08-27 19:57] alkahtani opened #30 "Is this plugin works in Ionic 1"
I have real problem on resizing images before upload to firebase in my Ionic 1 app , i just found this plugin and i hope it can help me , can any one advise if it is tested in ionic 1 app .

[2017-09-20 12:30] emrevural20 opened #31 "Need image orientation"
If you add orientation option this plugin will be best

[2017-10-10 21:39] ManicMapple commented on #4
@mmc1ntyre what was your mistake? Please share

[2017-11-05 17:21] ourarash commented on #19
I also have this issue in ios where images after resize don't have the correct aspect ratio. Is there any updates or workaround on this @vazad28 ?

[2017-11-14 10:28] EternallLight commented on #23
Hello,
It doesn't work on iOS that way. I tried to put in Image src the path received from the success callback, but it didn't work. Ended up with adding an option 'base64', which, if set to true, results in returning base64 string image representation. @JoschkaSchulz if you're ok with this approach, I can submit a PR.

[2017-11-14 15:47] JoschkaSchulz commented on #23
@EternallLight it would be nice :)

[2017-11-14 19:50] EternallLight commented on #23
Here you go!

[2017-11-15 10:09] JoschkaSchulz commented on #30
Hey I wrote it a few years ago and havn't tested it in any other framework then cordova.

[2017-11-15 10:11] JoschkaSchulz commented on #26
That could be really a problem,... I havn't spend much time on this plugin in the last time and maybe it could need some tests that something like that don't happens. If you like you could create a pull request or I will do it if I have time (but I can't say when I have enough time for that)

[2017-11-15 10:12] JoschkaSchulz commented on #31
could be a problem of this issue: https://github.com/JoschkaSchulz/cordova-plugin-image-resizer/issues/26

[2017-11-15 13:43] alexislg2 commented on #26
Thanks for your help. Why only keep orientation? GPS data is also very important. I would like to help but this is not in my skills

[2017-11-15 14:10] JoschkaSchulz commented on #26
Oh I just linked the other issue because it seems for me all the same problem, it's not like that one thing that gets lost

[2017-11-19 06:20] alkahtani commented on #30
@JoschkaSchulz I have tested the plugin in ionic 1  and it is working perfectly , many thanks

[2017-11-19 06:21] #30 closed

[2017-11-28 13:50] EternallLight commented on #6
It worked for me on iOS.

[2017-11-28 15:02] EternallLight opened #33 "Android build fails without cordova-plugin-camera"
Hello,

After installing the plugin on Android platform, I get the following error:

[code]

Guess, this happens because of missing [FileHelper](https://github.com/apache/cordova-plugin-camera/blob/master/src/android/FileHelper.java) class from cordova-plugin-camera. I tried copying getInputStreamFromUriString to this plugin, but it requires other imports and methods, so I gave up after dozens of

[2017-12-24 13:06] pyummm commented on #19
Here, all viceversa, i need at android to change aspect ratio.
If i provide height and width then probably best to change aspect ratio to provided sizes, and if provide just width or just height, then keep aspect ratio as in source.

[2018-01-04 10:40] howawong commented on #16
Hi, any update on this issue?

[2018-02-07 14:02] supportreq opened #34 "Unable to use the resize function"
I am unable to use the resize function in iOS... it is giving the following error:

TypeError: undefined is not an object (evaluating 'window.ImageResizer.resize')

please advice..

[2018-02-07 14:10] JoschkaSchulz commented on #34
Do you have more then just this one line?

[2018-02-07 14:14] supportreq commented on #34
@JoschkaSchulz no getting only this and error is raised by jquery.min.js

[2018-02-08 16:19] xgenem commented on #34
@supportreq are you using a framework? Can you post a snippet of your code?

[2018-02-16 06:11] greg-devtac opened #35 "Image Dimension is not working"
Hi @JoschkaSchulz,

I am using your plugin and upon using it the Image dimension is not working by setting the width and height in the actual device but when i use the emulator it works fine.

Regards,
Greg

[2018-02-17 13:53] vamlumber opened #36 "resize function not working properly..."
[code]

Here is my code....my resize function does get executed without the error , but the new image is not  populating(generated), the rest of the code is working fine ,as i have tested it . I have to upload an image which has to be resized.

Thank You

[2018-02-18 18:47] xgenem commented on #36
This is not directly answering your question about using ImageResizer plugin but Cordova's Camera plugin already offers you a way to resize your images to your desired width, height, and quality. I suggest you'll use that.

https://cordova.apache.org/docs/en/latest/reference/cordova-plugin-camera/#cameracameraoptions--object

[2018-02-19 10:54] guillermogfer commented on #19
@ourarash a workaround is to create an Image object from original one to check its dimensions and calculate the aspect ratio. Then you can resize setting for example the width and calculating the height to keep the aspect ratio.

    let img = new Image();
    img.onload = () => {
      // Calculate aspect ratio
      let aspectRatio = img.width / img.height;

      let options = {
          uri:

[2018-03-08 07:46] congbao1991 commented on #33
ionic cordova plugin add cordova-plugin-camera
npm install --save @ionic-native/camera

Completing these two steps can solve the problem

[2018-03-15 08:13] #36 closed

[2018-03-16 02:34] aligorkem commented on #16
folderName: "Protonet Messenger", //mandatory for android
fileName: 'resize.jpg' //mandatory for iOS

Thanks to "okhioktanio".

People are having same issues with this plugin after 2 years. It cost me an hour to find out fix this issue on iOS and Android.

How is it hard to write a proper documentation and throw an exception if the given parameters not valid?

IONIC team is pushing this plugin on

[2018-03-23 09:04] kdcro101 opened #37 "PR for base64 for android and option to fit within bounds"
@JoschkaSchulz,
Are you open for PR?

I've made following enhancements (all for android):
- accept base64 data-uri as input
- option `fit` to fit input image within bounds (options.width and options.height)
- output as base64 string

[2018-04-06 11:47] Saturnyn commented on #37
@kdcro101 This sounds good!
Was the PR accepted ?

[2018-04-06 12:00] kdcro101 commented on #37
@Saturnyn ,

Haven't posted it yet. Wanted to see if repo is alive.
If @JoschkaSchulz is opened to it, I will post it.

[2018-04-10 20:03] zigou13 opened #38 "Picture IOS not display"
Bonjouur, on IOS, I can not display the image, do you have a solution?
(On android it works well)

[2018-04-19 23:55] cesarbmolina opened #39 "How i access the DCIM / Camera folder?"
I would like to be able to access the DCIM / Camera folders and save my images there is some way to save my images in that folder

[2018-05-08 14:47] JoschkaSchulz commented on #39
I havn't touched this repo for a while and couldn't find time to do it... but if I remember correctly you can name a folder (just on android because iOS don't know that concept of folders) and save it there... I'm not 100% sure if you could just name the DCIM/Camera folder so save the files inside that, but you can just take the resized files after the resize and move it to the specific folder.

[2018-05-08 14:49] JoschkaSchulz commented on #38
hrm... I havn't looked onto this for a long time... and I can't tell when I have time to test that. Maybe if someone uses this library she or he can tell if iOS is broken?

[2018-05-08 15:48] cesarbmolina commented on #39
it happens to me that when I save the image in a folder my native gallery does not update automatically to show me the images. it only shows me the images if I manually delete an old image and there I update the gallery. You have some idea of how you could solve this problem, Thanks.

[2018-05-22 18:06] ferrarikarthik opened #40 "Please add the fileName(String) option for IOS too. Currently it only supports android and windows"
Currently as mentioned in the doc fileName(String): A custom name for the file. Default name is a timestamp. android and windows only. Could you please add this support to IOS. This will be of great help as it will work in all 3 platforms.

[2018-05-23 17:43] jfoclpf opened #41 "Image proportion"
Thanks for the great free plugin.

Documentation should be slightly more clear. I don't clearly get if the proportion of the image is changed.

[code]

Shouldn't it work also by just providing either `width` or `height` and not mandatorily both?

Thanks

[2018-05-30 14:39] JoschkaSchulz commented on #41
Nice I could help you (and not me everyone who contributed to this project)

ehm I'm not sure anymore, it's a long time I wrote that and I'm wondering that it got used so much :) If I remember correctly it was meant for you get an image and don't know the size but wants a aaa x bbb sized image for displaying somewhere... so you can enter the width and the height and the plugin should take the best

[2018-05-30 17:17] jfoclpf commented on #41
Thanks

I confirm it is like you said. The ratio is preserved.

On Wed, 30 May 2018, 16:40 JoschkaSchulz, <notifications@github.com> wrote:

[2018-06-04 08:50] nkurapati opened #42 "Unable to create compressed file in Android Oreo (8.0)"
Hi,

This plugin working as a charm till Android 7.0.
But suddenly it stopped working , we found that its not working in Android Oreo 8.0.

We are getting  "Attempt to invoke virtual method 'java.lang.String android.net.Uri.toString()' on a null object reference".

I see that its not able to create folder and compressed file in given folder.

Please let us know if you found any work around for 8.0

[2018-06-04 10:28] nkurapati commented on #42
I see a fix here, but its still not working for me. Please update if you see fix in this.

https://stackoverflow.com/questions/46489706/android-oreo-api-26-create-dir-in-external-storage

[2018-06-04 15:32] IgneButene commented on #42
I have the same issue on my Samsung S9 Oreo 8.0.0

[2018-06-07 13:51] keyz182 opened #44 "Mismatch in ID/Package name causing double addition of plugin to package.json"
In package.json and config.xml, this plugin has an ID of "info.protonet.imageresizer" but has a name of "cordova-plugin-image-resizer" in package.json. This is confusing either npm, Ionic, or cordova, and causing the plugin to be put into package.json twice:

[code]

The simple solution seems to be to make these match. I would submit a PR, but I'm not sure what name would be preferable.

[2018-06-12 09:34] JoschkaSchulz commented on #44
Does something break if we rename the info.protonet.imageresizer to cordova-plugin-image-resizer? If that wouldn't break anything I would recommand that way... sadly I can't test it currently so if you like to rename it, test it shortly if it works then I would merge it :)

[2018-06-12 16:34] ddoria921 opened #46 "Build failing"
My builds started failing after the [latest changes to the `plugin.xml` file](https://github.com/JoschkaSchulz/cordova-plugin-image-resizer/commit/476b6b12fbe8d2cf95f551737c16bb3c3a13e37b). I'm getting this error
[code]

After looking at where the build is failing it pointed me to my build.gradle file. It's failing here
[code]

It looks like the variable `ANDROID_EXIFINTERFACES_VERSION` isn't gett

[2018-06-12 17:52] JoschkaSchulz commented on #44
is merged

[2018-06-12 17:52] #44 closed

[2018-06-12 17:53] JoschkaSchulz commented on #46
@keyz182, maybe you could have an idea with that problem?

[2018-06-12 18:01] keyz182 commented on #46
@ddoria921 can you try modifying your config.xml to
[code]

It should be setting a default, bit maybe it's being missed?

Typed that on mobile while on the move btw, so be sure to check I got the syntax right.

[2018-06-12 19:58] ddoria921 commented on #46
Nope that didn't fix it.

[2018-06-12 20:02] keyz182 commented on #46
Ok, I'll have a look in the morning to see if I can find anything.

Silly question, but have to ask, did you try removing and readding the
plugin?

On Tue, 12 Jun 2018, 20:58 Darin Doria, <notifications@github.com> wrote:

[2018-06-12 20:19] ddoria921 commented on #46
The build is failing for me on our build server. Every time I run a build it does a fresh install of the android platform and all the plugins.

When I try to reproduce it locally on my machine I don't get the error. It installs the plugin and builds fine with the proper `ANDROID_EXIFINTERFACES_VERSION` in the `build.gradle` file. On my co-worker's machine it fails the same way it does on the build

[2018-06-12 21:02] JoschkaSchulz commented on #46
yeah strange... I tried it on my machine too right now... and don't get any errors... everything is working fine. Could it be a problem with the gradle version maybe? I tried it on gradle 4.8 on a mac with the jdk 1.8... I will search around a bit... maybe I find a clue

[2018-06-12 21:16] #41 closed

[2018-06-12 21:27] JoschkaSchulz commented on #26
should be fixed by https://github.com/JoschkaSchulz/cordova-plugin-image-resizer/pull/43

[2018-06-12 21:27] #26 closed

[2018-06-12 21:27] JoschkaSchulz commented on #31
should be fixed by https://github.com/JoschkaSchulz/cordova-plugin-image-resizer/pull/43

[2018-06-12 21:28] #31 closed

[2018-06-12 21:40] JoschkaSchulz commented on #16
I will add that to the readme (a bit late after 2 years, but at least I do it)

[2018-06-12 21:40] #16 closed

[2018-06-12 21:57] #18 closed

[2018-06-12 21:57] #17 closed

[2018-06-12 22:18] JoschkaSchulz commented on #42
hrm... I will try to find out more... I tried it on a android 9 device and it works without problems... maybe the problems are just appear in 8?

[2018-06-12 22:19] JoschkaSchulz commented on #40
sounds like an good idea... I saw just tonight that at the moment every of the platforms work way to different,... they should move more closer together

[2018-06-12 22:22] JoschkaSchulz commented on #39
hrm normally google photos should update instantly. I couldn't give support for gallery apps,... you could try to add the photos directly into the `/DCIM/subfolder` maybe that solves the problem. But sadly I can't see how I should fix that problem with the plugin.

[2018-06-12 22:22] #39 closed

[2018-06-12 22:22] JoschkaSchulz commented on #33
I setup everything and run in the same problem, I will add it to the readme

[2018-06-12 22:22] #33 closed

[2018-06-12 22:25] JoschkaSchulz commented on #35
I can't reproduce this error and I need more details

[2018-06-12 22:27] JoschkaSchulz commented on #34
could be the missing fileName, I corrected the readme about what do you need on iOS and android.

[2018-06-12 22:29] JoschkaSchulz commented on #37
I hadn't much time for that repo and the answer is really late,... but as less time I have I try to check and merge the pull requests I see as fast as possible. I will close this issue because it's nearly 2 month old, but if you like to add something via pull request I would like to merge that. :)

[2018-06-12 22:29] #37 closed

[2018-06-13 06:10] nkurapati commented on #42
May be.. I don't have android 9 so didn't checked.

[2018-06-13 06:29] JoschkaSchulz commented on #42
I will check different android versions later the day.

[2018-06-13 06:30] #6 closed

[2018-06-13 06:31] #8 closed

[2018-06-13 06:34] nkurapati commented on #42
thank you.

Let me know if you need any, I can provide sample apk.

On Wed, Jun 13, 2018 at 11:59 AM JoschkaSchulz <notifications@github.com>
wrote:

[2018-06-13 06:37] JoschkaSchulz commented on #24
The fileName was missing. I have changed the readme for that.

[2018-06-13 06:37] #24 closed

[2018-06-13 06:39] JoschkaSchulz commented on #40
Just saw in the code that fileName is already in iOS

[2018-06-13 06:39] #40 closed

[2018-06-13 06:40] JoschkaSchulz commented on #38
Could be the problem that the argument fileName is missing. It's required for iOS as mentioned in #16

[2018-06-13 06:41] #25 closed

[2018-06-13 16:21] crawft commented on #42
Same here, 8.1.

I've never worked with native Android code but it looks like folder.mkdir(); must be failing, then you don't check the result of saveFile (which is null after mkdir fails).

Something to do with permissions?

[2018-06-14 09:28] keyz182 commented on #46
I've not been able to recreate or figure out anything potentially wrong I'm afraid. It looks like other plugins use this same method. I don't think it's an issue with gradle, as the variable should be substituted in before gradle is run (as far as I can tell).

@JoschkaSchulz would you be averse to uploading your plugin to NPM? We could pin to versions then that you upload at least.

[2018-06-14 18:49] ferrarikarthik opened #47 "Nested FolderName throwing exception"
For Android, if we give the nested value for folderName property, it throws exception:
Attempt to invoke virtual method 'java.lang.String android.net.Uri.toString()' on a null object reference.

sample object-
{fileName:"test.jpg",
folderName:"ParentFolder/ChildFolder",
height:768,
quality:100,
uri:"file:///storage/emulated/0/img1.jpg",
width:1024
}

Basically, i would like to copy the resized ima

[2018-06-14 20:24] ddoria921 commented on #46
I also don't think it's an issue with gradle because the variable should be swapped in before it gets to gradle. Also, you don't necessarily have to upload to NPM. You can tag and generate release through GitHub that would allow you to install the plugin at a specific version.

For example to install v1.0 would look like this:
`cordova plugin add https://github.com/protonet/cordova-plugin-image-re

[2018-06-17 15:52] ferrarikarthik commented on #47
Hi JoschkaSchulz,
 Can you please take a look at this issue? Nested folder will give us great flexibility option.
Thanks,
  Karthik M R

[2018-06-18 05:33] nkurapati commented on #42
@JoschkaSchulz Any updates?

@crawft Permissions are looking good.

[2018-06-18 09:47] nkurapati commented on #42
@JoschkaSchulz

I have debugged the code and its failing to create folder at line no#115: success = folder.mkdir(). So saveFile function is returning null and scaledFile.toString() is failing at line no#61.

I have tested line no#110 as follows, but still same error.
- folder = new File(Environment.getExternalStorageDirectory() + "/" + folderName);
- folder = new File(Environment.getExternalStorag

[2018-06-18 15:52] crawft commented on #42
I worked around this by changing the code around line 129 as follows, this creates the resized image in a private folder so may not work if you want the image elsewhere (though maybe you could just copy it after or something).

[code]

[2018-06-19 07:59] spacepope opened #48 "fileName parameter on iOS does not work the way it is documented?"
Hi @JoschkaSchulz ,

i just noticed on iOS the resized image file url returned from the plugin is always an auto generated filename (`img%d.jpg` with %d being a static count variable, line 124 in `ImageResizer.m`).
Looking into the code, it does seem like fileName parameter on iOS is used as an asset name which can be used *instead* of the uri parameter to load the source image.. (lines 58 et sec.

[2018-06-20 11:34] huytran0605 commented on #46
i got same problem. How can i get old version ?
btw, I'm using cordova-android 6.4 with Android target 26.

[2018-06-20 11:43] JoschkaSchulz commented on #46
I would like to get more information for that... it's really hard to reproduce this error so I can't help. You can just get an older version by removing that code... I have to do an upload to npm of versions that this makes not so much problems in the future again... but for now there is no version tagging

[2018-06-20 11:51] huytran0605 commented on #46
Could you tell me know required package to install current version of this plugin?
Because i saw it need to have `exifinterface` version > 27? My machine only has 25.1.0 in android-sdk folder.

And I force to update project.properties
`cordova.system.library.5=com.android.support:exifinterface:25.1.0`
It can build success. But does it makes some bug?

[2018-06-20 13:48] keyz182 commented on #46
@huytran0605 I believe anything after or including 25.1.0 will work, but I've not tested. The exifinterface was added in 25.1.0, so won't work on anything earlier.

[2018-06-20 17:09] salzig commented on #48
Feel free to provide a {merge,pull} request to change the behaviour :)

[2018-06-20 21:40] JoschkaSchulz commented on #48
Thank you for your feedback. But if you already looked inside the files it would be the best if you would create a pull request (like salzig said). So It could be better for every next one to step inside the wrong readme.

[2018-06-21 02:14] huytran0605 commented on #46
@keyz182 Unfortunately, I tested and  It cannot work :(

[2018-06-21 02:47] huytran0605 commented on #46
@JoschkaSchulz Could you please upload version tagging? Because i use CI to build app so it difficult to install the plugin by manual?
Thanks. I really like and want to use this plugin anymore.

[2018-06-21 10:09] spacepope commented on #48
As you probably noticed my issue title is expressed as a question. Although i looked inside the code for 5 minutes to see why i am getting unexcpected results, i only make *assumptions* on how the code *could be meant to work*.
Changing the behaviour of iOS part could potentially be a breaking change (maybe people already rely on getting this file format on iOS or on using asset names via the file

[2018-06-21 18:02] JoschkaSchulz commented on #47
I will check that while I recheck everything :) It will take some time I havn't done anything inside here for 2 years but if you like to you can create a pull request and I will check that.

[2018-06-21 18:50] JoschkaSchulz commented on #46
Hey, I added version tagging here on github and also uploaded to https://www.npmjs.com/package/cordova-plugin-simple-image-resizer ... sadly the name was already taken that's the reason why I add the (stupid word) simple in it

[2018-06-21 19:49] JoschkaSchulz commented on #48
@spacepope, I looked inside the code because I knew it was working in the past so I wanted to know what happens... Like I mentioned in other issues already this whole repo isn't tested and I don't want to invest time to set up everything (I'm still wondering why suddenly so many people start using this thing, it was written for a special case for a german company, now it seems to get used by far m

[2018-06-21 19:54] JoschkaSchulz commented on #42
@crawft would you be so kind to create a pull request? then we could fix that for everyone :)

[2018-06-22 06:53] spacepope commented on #48
That's funny - because your repo is officially listed in the [Ionic frameworks](https://ionicframework.com/docs/native/image-resizer/) plugins 😄 Congrats 🎉 😉

If i got some free time some day, i could do a PR with updated docs.

Just to be sure: is my assumption regarding those asset part on iOS (fileName parameter is used to load an asset instead of the uri parameter) correct?
Would be great if y

[2018-06-30 05:34] merbin2012 opened #51 "Always execute the error function"
**My full code is**
`var options = {
      uri: "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDABALDA4MChAODQ4SERATGCgaGBYWGDEjJR0oOjM9PDkzODdASFxOQERXRTc4UG1RV19iZ2hnPk1xeXBkeFxlZ2P/2wBDARESEhgVGC8aGi9jQjhCY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2P/wAARCAzACZADASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1Fh

[2018-07-30 18:33] jayordway commented on #38
I keep seeing the thumbnail come back as an all white image, is there a fix for this?

[2018-07-31 07:47] jayordway commented on #42
I used the method that @crawft had given and created a PR for it.

[2018-08-13 03:53] huytran0605 commented on #46
Do you have any idea why in file platforms/android/project.properties used `ANDROID_EXIFINTERFACES_VERSION` but not exactly any version (25.1.0)
`cordova.system.library.2=com.android.support:exifinterface:$ANDROID_EXIFINTERFACES_VERSION`

I think in my config it can't read `$ANDROID_EXIFINTERFACES_VERSION`, so It makes build failed

[2018-08-14 11:57] JoschkaSchulz commented on #48
@spacepope yeah but I have no idea why it's listen there... I havn't added it there and nobody asks me about the status of this repo :/

[2018-09-12 20:18] ffMathy opened #57 "Build failure"
Here's my build log:

[code]

[2018-09-13 03:52] xgenem commented on #57
Make sure you have added the package to your project.

[2018-09-14 13:22] sithwarrior commented on #46
I spent some time looking at this today.
The problem is that the value replacement for `$ANDROID_EXIFINTERFACES_VERSION`, dosent work, in older versions of Cordova it seems.
I updated to `Cordova 7.1.0` and `Cordova-Android 6.4.0` that worked for me.

Another option is to supply the variable at build time, it will then be swaped inside the build.gradle file, and complete the build
`cordova build a

[2018-09-17 21:11] JoschkaSchulz opened #59 "Short on Time"
Hey all readers of that issue...

At the moment I don't really have much time to take care of this repo... I never thought that it would get mentioned in the documentation of ionic and I have no idea how it get there. If someone feels fine to help maintaining this or at least fork this repo and done more cool stuff with it in the future I would be happy to add the person here or would write a link

[2018-09-23 21:56] JustasKuizinas commented on #19
Any news on this? @guillermogfer your solution doesn't work and sometimes app crashes if the image is very large

[2018-10-24 13:41] 3creatives opened #60 "build failed Could not find exifinterface.jar"
Hi, here's my build log:

`$ cordova build android
ANDROID_HOME=E:\android\Sdk
JAVA_HOME=C:\Program Files\Java\jdk1.8.0_161
Reading build config file: E:\movil_phonegap\indata1\build.json
Reading the keystore from: E:\movil_phonegap\indata1\largekey.keystore
Subproject Path: CordovaLib
null
The Task.leftShift(Closure) method has been deprecated and is scheduled to be removed in Gradle 5.0. Please

[2018-10-25 06:07] iadimitriu commented on #60
Hi,
There is a temporary fix: https://github.com/vlinde/cordova-plugin-image-resizer

[2018-10-25 06:46] ryaa opened #61 "Failed to resize an image on iOS 12.x"
When trying to resize an image on iOS 12.x no errors shown but the resized image is empty (just white background).
The problem seems to be due to the path assets-library:// which is not supported (for example "assets-library://asset/asset.JPG?id=8458AC82-B00F-4595-8B78-A135643A3AB3&ext=JPG")

Using cordova file plugin and window.resolveLocalFileSystemURL to convert the file to cdv file path seems

[2018-10-25 14:33] Rlamotte commented on #60
Hey.

I have the same problem. I tried to remove my plugin and to add yours @iadimitriu  but i still didn't work. Do you have any idea?

![image](https://user-images.githubusercontent.com/25707233/47508100-c1428180-d873-11e8-917b-071bdc0e07bc.png)

[2018-10-25 14:41] iadimitriu commented on #60
I think your old plugin is still there. Can you check your plugins list?
When you delete the plugin you should use `ionic cordova plugin rm cordova-plugin-simple-image-resizer`

[2018-10-25 15:03] Rlamotte commented on #60
it worked. Wow Thank you so much. 2 days i'm trying to keep out the cordova app our sutdent has done :D

[2018-10-26 05:58] rajesh05c4 opened #62 "Android giving black background for transparent Images"
I am trying to resize an image which has a transparent background. After resizing the image comes with a black background. I did some google around this. I found this solution.
[https://stackoverflow.com/questions/4572564/how-to-change-the-background-color-of-a-saved-transparent-bitmap?rq=1](url)

I have used the following code for compressing the images in android. Now it's working fine.
`bitmap.

[2018-12-03 17:11] jorgemejia opened #64 "Failed to fetch plugin"
I'm trying to install this plugin but I have the next issue:

Failed to fetch plugin https://github.com/protonet/cordova-plugin-image-resizer.git via registry.
Probably this is either a connection problem, or plugin spec is incorrect.
Check your connection and plugin name/version/URL.
Failed to get absolute path to installed module

This is my enviroment:

Ionic:

   ionic (Ionic CLI)  : 4.2.1 (/u

[2018-12-14 10:50] miqmago commented on #64
This is a great plugin and was perfectly working, but this error is very frustrating... The id change is a mess and has made this plugin totally unusable... Any solution on how to proceed to repair? I've tried to remove any reference to the plugin anywhere in the project but still cannot install

[2018-12-14 10:57] miqmago commented on #64
Finally I've searched `protonet` and removing everything relate. I had to remove also the files from android platform as having this error:

[code]

Finally I could do...

[2019-01-14 05:54] KokilaBawankar commented on #61
I am also facing the issue when resizing image using the Ionic ImageResizer plugin on iPhone. App gets crashed and no error printed in the console. Here is my code -
compressImage(fileUri: string){
    return new Promise((resolve, reject)=>{
      console.log('######', fileUri);
      let options: ImageResizerOptions = {
        uri: fileUri,
        folderName: this.file.externalDataDirectory,

[2019-01-21 13:12] mateuszroth commented on #64
You can try with `cordova plugin add https://github.com/JoschkaSchulz/cordova-plugin-image-resizer.git`, the command from the README file is incorrect.

[2019-02-28 10:39] thfontaine commented on #64
Even with `
cordova plugin add https://github.com/JoschkaSchulz/cordova-plugin-image-resizer.git`, I have the same issue :

[code]

Env:
[code]

[2019-03-18 10:52] micke501 opened #65 "IOS gives back an empty base64 string"
On IOS 12+ the base64 string is empty.
In options I gave a base64 image string but in return only this string "data:image/jpeg;base64," was coming back in success function.

[2019-03-26 06:24] jetma commented on #46
My `Cordova` version is 6.5.0, I only updated the `Cordova-Android` version to 6.4.0 and that worked well for me.

[2019-03-29 07:26] jetma commented on #46
I used `cordova plugin add cordova-plugin-simple-image-resizer` instead of `cordova plugin add https://github.com/protonet/cordova-plugin-image-resizer.git` to add the plugin, it worked fine.

[2019-03-31 22:42] brcontainer opened #66 "Version 0.2 isn't avaliable in NPM"
Update NPM please.

In NPM 0.1.1 is last version, but I need 0.2 features for Android (base64), thanks!

[2019-03-31 23:23] brcontainer opened #67 "base64: true not work in Android, returns file:/// uri scheme"
base64: true not work in Android, returns file:/// uri scheme, code:

[code]

Is returned a url like this: `file:///storage/emulated/0/1554074577205.jpg`

[2019-04-01 20:03] jvkxhola commented on #67
Bad news. Apparently, returning base64 is only possible on IOS

If you check the header it says:
[code]

[2019-04-01 20:52] brcontainer commented on #67
@jvkxhola you're right, the problem is that you already have support for Android, see: https://github.com/JoschkaSchulz/cordova-plugin-image-resizer/commit/100e8748610dab4e0b6afde7d1315a7396339585 (31 Jul 2018)

But so far the author has not published the version "0.2.1" or "0.3.0", it is only in the **master branch.**

_See code details:_

- https://github.com/JoschkaSchulz/cordova-plugin-image-r

[2019-04-03 11:20] iadimitriu commented on #62
I don't think your solution is the best because you change the content format from `jpg` to `png`. This plugin returns only 'jpg' files, so, if you change the file format to `png` you will have to check in your ionic project what platform and output (base64 true or false) is used.

Your link to [Stack Overflow](https://stackoverflow.com/questions/4572564/how-to-change-the-background-color-of-a-sav

[2019-06-11 14:47] mvzulu commented on #67
Hi guys, ran into the same problem, getting an update to this any time soon? thanks

[2019-06-14 14:35] brcontainer commented on #67
temporarily try: https://github.com/JoschkaSchulz/cordova-plugin-image-resizer/issues/66

[2019-07-11 12:55] wolzenbug commented on #66
Thank you @brcontainer
Do you (or anyone else in here) know a way to use the v0.2.0 branch in a ionic-native project? The ionic-native project only comes with v0.1.0, which has an iOS thumbnail dimension bug.

[2019-07-12 22:41] brcontainer commented on #66
Is not possible... You maybe can recreate this methods in a provider, but it's "complicated" ... use in "pure" JS in your method:

[code]

An example with `Promise` (example in typescript projects):

[code]

[2019-07-17 08:13] wolzenbug commented on #66
Thank you for your efforts!
Your second example works like a charm.

[2019-07-18 09:01] RZR666 opened #68 "Anyone got this working using cordova-plugin-camera-preview"
It seems to be dependant on the cordova-camera-plugin which I'm not currently using in my project.

[2019-07-23 13:48] Vane101 commented on #19
Good day, any update on this yet for Ionic 3.

[2019-08-06 11:11] r-guerin commented on #64
Having the same issue, even with the corrected URL. Did anyone find a workaround ?

[2019-10-25 15:45] halloland opened #69 "Code executes synchronously. Android"
Hi guys, I have an issue about synchronous executing of resizing an image.
It works ok when u have small size one image, but when u try to resize a lot of large size images the app freezes. I just wrapped up code into runnable and it works much faster and app doesn't freeze. Maybe someone could create pull request to fix it(I am not an expert in Java, but it takes just few lines of code)? Don't kn

[2020-01-14 16:31] wraiford commented on #59
Hi, I'm using your plugin to create thumbnails for an Ionic app. When combined with infinite scroll, it really improves performance! So thank you for your work!

I don't have much money but I'd like to just send you $5 or $10 bucks. Could you add a link to the README for me (and others) who would be interested in monetarily expressing our thanks?

[2020-02-27 01:14] jj449 commented on #69
can you share your code  and a little description ?  that maybe someone will make a  PR ?

[2020-07-23 08:04] halloland commented on #69
Look into my fork: https://github.com/halloland/cordova-plugin-image-resizer

[2020-09-16 09:34] shide1989 commented on #42
any news on this Topic ? the branch was merged in 2018 and this issue isn't closed.
i'm still having the issue on Android 29

[2021-02-14 22:08] muhammadomais commented on #48
Is this issue of the IOS fixed? I am still getting the error.

[2021-06-04 05:03] SyedAliHassan90 commented on #57
@ffMathy I faced the same issue. I find its solution in closed bugs.
https://github.com/JoschkaSchulz/cordova-plugin-image-resizer/issues/33#issuecomment-371407045

[2021-08-10 10:26] jfoclpf commented on #57
I have exactly the same error, how did you guys solved this?
My [`package.json`](https://github.com/jfoclpf/in-my-district/blob/v1.2.8/package.json) declares this plugin both in `dependencies` and in `cordova.plugins`

[2021-08-10 10:26] jfoclpf commented on #57
@xgenem it's added: https://github.com/jfoclpf/in-my-district/blob/v1.2.8/package.json